upstream producers {
<server_list>
}

server {

    listen       <producer_port>;
    listen  [::]:<producer_port>;
    server_name  <nginx_srv_name>;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    location = /<endpoint> {

        proxy_pass http://producers;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}